* {
  box-sizing: border-box;
}

body {
  margin: 10% 20% 0 20%;
  background-color: #FFDBDA;
}

/* Container */
.container {
  padding: 1% 5% 1% 5%;
  background-color: white;
}

/* bottom container */
.bottom-container {
    text-align: center;
    background-color: #666;
    border-radius: 0px 0px 4px 4px;
    padding: 2%
  }

/* Two-column layout */
.col {
  float: left;
  width: 50%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Button */
.submitBtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.submitBtn:hover {
  opacity: 1;
}