<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- References to external CSS files -->
<link href="/static/style/signup.css" rel="stylesheet" />
<link href="/static/style/resetPassword.css" rel="stylesheet" />
<link href="/static/style/alert.css" rel="stylesheet" />
</head>
<body>
  
  <!-- Alert box -->
  <% if(alertMsg){ %>
    <div class="<%= alertStatus %>">
      <span class="closeBtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <%= alertMsg %>
    </div>
  <%}%>

  <!-- Signup form -->
  <form method="POST" action="/newPassword/<%= token %>">
    <div class="container">
      <h1>Reset Password</h1>
      <hr>

      <label for="psw"><b>Password</b></label>
      <label id="pswMsg" class="errMsg"></label>
      <br>
      <label class="remark">The password must be at least 8 characters with at least 1 lowercase, 1 uppercase, 1 number and 1 symbol</label>
      <input type="password" placeholder="Enter Password" name="password" id="password" required>

      <label for="psw-repeat"><b>Repeat Password</b></label>
      <label id="pswRepeatMsg" class="errMsg"></label>
      <input type="password" placeholder="Repeat Password" name="pswRepeat" id="pswRepeat" required>

      <button type="submit" class="submitBtn" id="submitBtn">Update Password</button>
    </div>
  </form>

  <div class="bottom-container">
    <div class="row">
      <div class="col">
        <a href="/signup" style="color:white" class="btn">Sign up</a>
      </div>
      <div class="col">
        <a href="/login" style="color:white" class="btn">Login</a>
      </div>
    </div>
  </div>

  <!-- References to external JS files
  <script src="/static/js/resetPassword.js"></script> -->

</body>
</html>
