<%- include('header') -%>

  <div class="container">
    <div class="row">
      <div class="column-33">
        <img></img>
      </div>
      <div class="column-66">
        <p></p>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="column-33">
        33
      </div>
      <div class="column-66">
        66
      </div>
    </div>
  </div>

<!-- References to external JS files -->
<script src="/static/js/searchRecipe.js"></script>

<%- include('footer') -%>
