<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- References to external CSS files -->
<link href="/static/style/signup.css" rel="stylesheet" />
<link href="/static/style/resetPassword.css" rel="stylesheet" />
<link href="/static/style/alert.css" rel="stylesheet" />
</head>
<body>
  
  <!-- Alert box -->
  <% if(alertMsg){ %>
    <div class="<%= alertStatus %>">
      <span class="closeBtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <%= alertMsg %>
    </div>
  <%}%>

  <!-- Signup form -->
  <form method="POST" action="/resetPassword">
    <div class="container">
      <h1>Forgot Password</h1>
      <hr>

      <label for="email"><b>Email</b></label>
      <label id="emailMsg" class="errMsg"></label>
      <input type="text" placeholder="Enter Email" name="email" id="email" required>

      <button type="submit" class="submitBtn" id="submitBtn">Reset Password</button>
    </div>
  </form>

  <div class="bottom-container">
    <div class="row">
      <div class="col">
        <a href="/signup" style="color:white" class="btn">Sign up</a>
      </div>
      <div class="col">
        <a href="/login" style="color:white" class="btn">Login</a>
      </div>
    </div>
  </div>

  <!-- References to external JS files
  <script src="/static/js/resetPassword.js"></script> -->

</body>
</html>
